body {
    font-family: 'Poppins', sans-serif;
    background: #f4f7fb;
    margin: 0;
    padding: 0;
    color: #222;
}


/* Header */
#header {
    background:  linear-gradient(90deg, #a18cd1, #fbc2eb);
    color: #ab07dd;
    padding: 20px 0;
    box-shadow: 0 4px 10px rgba(0,0,0,0.2);
}

.para{
    color: #0f0e0e;
}v

#header h1 {
    font-size: 2rem;
    margin: 0;
}

#header p {
    font-size: 1rem;
}

.navbar a {
    color:  #774ea8;
    text-decoration: none;
    margin: 0 10px;
    font-weight: bold;
    transition: all 0.3s;
}

.navbar a:hover,
.navbar .active {
    color: white;
    background:  #d977f7;
    padding: 6px 12px;
    border-radius: 8px;
}

/* Main content */
.intro-text, .thank-text {
    text-align: center;
    margin: 30px auto;
    max-width: 800px;
    line-height: 1.6;
    font-size: 1.1rem;
}

/* Form */
.feedback-form {
    display: flex;
    justify-content: center;
    align-items: center;
}

.feedback-box {
    background: white;
    padding: 25px 30px;
    border-radius: 15px;
    width: 70%;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
    transition: all 0.4s ease;
}

/* Hover effect for the full feedback box */
.feedback-box:hover {
    background: linear-gradient(135deg, #f8e7ff, #fce7f3);
    box-shadow: 0 8px 20px rgba(100, 100, 255, 0.3);
    transform: scale(1.01);
}

.feedback-box legend h3 {
    color:rgb(167, 7, 167);
    font-size: 1.3rem;
}

label {
    font-weight: 600;
}

input[type="text"],
input[type="email"],
select,
textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 10px;
    margin-top: 5px;
    transition: border 0.3s;
}

input:focus,
textarea:focus,
select:focus {
    border-color: #d977f7;
    outline: none;
}

/* Buttons */
.submit-btn {
    background: linear-gradient(135deg, #ce65fc, #f88fcb);
    color: white;
    padding: 10px 30px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-size: 1rem;
    transition: 0.3s;
}

.submit-btn:hover {
    background: linear-gradient(135deg, #f771bd, #b530ee);
    transform: scale(1.05);
}

/* Footer */
#footer {
    background:linear-gradient(90deg, #a18cd1, #fbc2eb);
    color:rgb(126, 5, 126);
    padding: 20px;
    margin-top: 50px;
    font-size: 0.9rem;
}

#footer p {
    margin: 0;
    line-height: 1.6;
}
